*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
html,body{height: 100%;} 
body{
	 font:14px "Lucida Grande",Helvetica,Arial,sans-serif;
	 background: #000;
	 color: #fff;
	 text-align: center;
	 overflow: hidden;
 } 
header,.left,.right{position:absolute;}
header{
	left:10px;
	top:10px;
	right:10px;
	height:150px;
}
header h1{
	font-size: 40px;
	height:60px;
	line-height: 60px;
} 
#volume{
	margin-top: 10px;
	margin-right: 30px;
}
#alltime{
	width:300px;
	margin-right: 10px;
}
.left{
	left:10px;
	top:170px;
	bottom:10px;
	width:15%;
	border:1px solid #fff;
 }
 #style{
	position: relative;
	width: 100%;
	height: 35px;
	border: 1px solid #ccc;
	line-height: 35px;
}
#style input{
	opacity: 0;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	height: 35px;
}
#upload{
	position: absolute;
	left: 5px;
	top:5px;
   opacity: 0;
}
.left ul{
	overflow: auto;
	padding: 15px;
}
.left ul li{
	height:30px;
	line-height: 30px;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
#locale-file{
	padding: 0;
}
.left ul li.selected{
	color: green;
} 
.type{
	margin-bottom: 12px;
} 
.type li{
	display: inline-block;
	width: 70px;
	padding: 5px;
	border: 1px solid #ccc;
	margin-left: -5px;
	border-radius: 4px;
  }
.select{
	background-color: white;
	color: black;
}  
.right{
	top:170px;
	right:0px;
	bottom:10px;
	left:-webkit-calc(15% + 10px);
	left:calc(15% + 10px);
}  
.for-input{
	display: inline-block;
    width: 100%;
    overflow: hidden;
    height: 50px;
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
}
.for-input:hover{
	border-color:#c02c21;
	color:#c02c21;
}
#add{
	opacity: 0;
	display: none;
} 
input[type="range"]{
	-webkit-appearance:none;
	height: 8px;
	background:#999;
	border-radius: 10px;
	outline: none; 
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance:none;
	height: 12px;
	width: 12px;
	background: #fff;
	border-radius: 100%;
}
input[type="range"]::-moz-range-track{
	height: 8px;
	background: #999;
	border-radius: 10px;
	border: none; 
}
input[type="range"]::-moz-slider-thumb{
	-webkit-appearance:none;
	height: 12px;
	width: 12px;
	background: #fff;
	border-radius: 100%;
}

@media screen and (max-width: 800px),screen and (max-height: 500px){
	header{
		height:80px;
	}
	header h1{
		font-size: 20px;
		height:35px;
		line-height: 35px;
	} 
    .type li{
	  width: 40px;
      padding: 1px;
      margin-left: -3px;
      height: 20px;
      font-size: 12px;
    }
	.right,.left{
	  top:100px;
    }
   .type{
   	  margin-bottom: 1px;
   	} 
}

